
@{
    ViewBag.Title = "blogdetails";
    Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_blog.jpeg);">
    <div class="container">
        <h1>Blog Details</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="~/advertisement/advertising-agency"><i class="fa fa-home"></i></a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<section class="blog_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                @if (Model != null)
                {
                    if (Model.List != null)
                    {
                        foreach (var item in Model.List)
                        {
                            <div class="blog_title mb-4">
                                <h2><a href="#">@item.Title</a> </h2>
                            </div>
                            <div class="blog_featured">
                                @if (Model.lstimages != null)
                                {
                                    foreach (var item1 in Model.lstimages)
                                    {
                                        <a href="#"><figure class="image"><img src="https://afluex.com/@item1.FileName" alt="" class="img-fluid"></figure></a>
                                    }
                                }
                            </div>
                            <div class="blog_time_eye clearfix mt-4">
                                <ul class="list-unsyled p-0">
                                    <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-user" aria-hidden="true"></i></span> By : Afluex Mutiservices LLP</li>
                                    <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span> @item.AddedBy</li>
                                    <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-eye" aria-hidden="true"></i></span> @item.AddedOn</li>
                                </ul>
                            </div>
                            <div class="blog_details">
                                <div class="blog_inner mt-4">
                                    <p>
                                        @(new HtmlString(item.Decription))
                                    </p>

                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="sidebar-widget popular-posts">
                    <div class="widget-content">
                        <!-- Sidebar Title -->
                        <div class="sidebar-title mb-4">
                            <h2>Latest Blogs</h2>
                        </div>

                        <article class="post d-flex">
                            <figure class="post-thumb"><img src="~/afluexad/images/about-img.png" style="height:70px;" alt=""><a href="blog-detail.html" class="overlay-box"></a></figure>
                            <div class="ml-15">
                                <h6 class="text"><a href="blog-detail.html">Show at the University</a></h6>
                                <div class="mt-2"><i class="fa fa-calendar"></i> 23 December 2021</div>
                            </div>

                        </article>
                        <article class="post d-flex">
                            <figure class="post-thumb"><img src="~/afluexad/images/about-img.png" style="height:70px;" alt=""><a href="blog-detail.html" class="overlay-box"></a></figure>
                            <div class="ml-15">
                                <h6 class="text"><a href="blog-detail.html">Show at the University</a></h6>
                                <div class="mt-2"><i class="fa fa-calendar"></i> 23 December 2021</div>
                            </div>

                        </article>

                        <article class="post d-flex">
                            <figure class="post-thumb"><img src="~/afluexad/images/about-img.png" style="height:70px;" alt=""><a href="blog-detail.html" class="overlay-box"></a></figure>
                            <div class="ml-15">
                                <h6 class="text"><a href="blog-detail.html">Show at the University</a></h6>
                                <div class="mt-2"><i class="fa fa-calendar"></i> 23 December 2021</div>
                            </div>
                        </article>

                        <article class="post d-flex">
                            <figure class="post-thumb"><img src="~/afluexad/images/about-img.png" style="height:70px;" alt=""><a href="blog-detail.html" class="overlay-box"></a></figure>
                            <div class="ml-15">
                                <h6 class="text"><a href="blog-detail.html">Show at the University</a></h6>
                                <div class="mt-2"><i class="fa fa-calendar"></i> 23 December 2021</div>
                            </div>
                        </article>
                        <article class="post d-flex">
                            <figure class="post-thumb"><img src="~/afluexad/images/about-img.png" style="height:70px;" alt=""><a href="blog-detail.html" class="overlay-box"></a></figure>
                            <div class="ml-15">
                                <h6 class="text"><a href="blog-detail.html">Show at the University</a></h6>
                                <div class="mt-2"><i class="fa fa-calendar"></i> 23 December 2021</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="blog_page">
    <div class="container">
        @if (Model != null)
        {
            if (Model.List != null)
            {
                foreach (var item in Model.List)
                {
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="blog_title mb-4">
                                <h2><a href="#">@item.Title</a> </h2>
                            </div>
                            <div class="blog_featured">

                                @if (Model.lstimages != null)
                                {
                                    foreach (var item1 in Model.lstimages)
                                    {
                                        <a href="#"><figure class="image"><img src="https://afluex.com/@item1.FileName" alt="" class="img-fluid"></figure></a>
                                    }
                                }

                            </div>
                            <div class="blog_time_eye clearfix mt-4">
                                <ul class="list-unsyled p-0">
                                    <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-user" aria-hidden="true"></i></span> @item.AddedBy</li>
                                    <li class="list-inline-item"><span class="blog_icon"><i class="fa fa-eye" aria-hidden="true"></i></span> @item.AddedOn</li>
                                </ul>
                            </div>
                            <div class="blog_details">
                                <div class="blog_inner mt-4">
                                    <p>
                                        @(new HtmlString(item.Decription))
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>*@
