@model Afluex.Models.Ad

@{
    ViewBag.Title = "career"; 
     Layout = "~/Views/Shared/Ad_LayoutPage.cshtml";
}

<section class="page-title text-center" style="background-image:url(../../afluexad/images/background/page_career.jpeg);">
  
    <div class="container">
        <h1>Career</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/advertising-agency">Home</a> </li>
                <li><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                <li>Career</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
@using (Html.BeginForm("career", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
<section class="contactus_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="~/afluexad/images/career1.png" alt="career">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 m-b30 mt-5">
                @TempData["Career"]
                <form class="contact-box dzForm p-a30 border-1" action="">
                    <h3 class="title-box" style="background: #418fb2;margin: 0px 0px 30px 0px;
    padding: 20px 30px;color: #fff;line-height: 35px;margin: 0px 0px 30px 0px;">New Journey Start With Afluex</h3>
                    <div class="dzFormMsg m-b20"></div>
                    <input type="hidden" value="Contact" name="dzToDo">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Name", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", @maxlength = "10", @onkeypress = "return isNumberKey(event);", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control animated fadeInDown", @Placeholder = "Email", @required = "required",
                                   @onchange = "return ValidateEmail();"
                               })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-4">
                                <div class="input-group">

                                    <input name="postedFile" type="file" required="" class="form-control" placeholder="file">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @Placeholder = "Description" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="contact_btn">
                                <input type="submit" class="btn btn-primary btn-lg" value="Submit" name="Save" onclick="return validateform();" />
                               
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
}
<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
        if ($('#Description').val() == '') {
            $("#Description").addClass('errortext');
            $('#Description').focus();
            return false;
        }
        if ($('#file').val() == '') {
            $("#file").addClass('errortext');
            $('#file').focus();
            alert("Please select document file");
            return false;
        }
        $("#divload").css({ 'display': '' });
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
